.main-img {
  height: 300px;
}
.main-button {
  border: none;
  background-color: #39ac39;
  color: #fff;
  height: 40px;
  width: 130px;
  border-radius: 20px;
}
.main-button:hover {
  border: 1px solid #39ac39;
  background-color: white;
  box-shadow: 1px 1px 15px #eee;
  color: #39ac39;
  transition: 0.4s;
}
.home-image {
  height: 500px;
  box-shadow: 1px 1px 5px #eee;
}
.home-command {
  border: none;
  background-color: #fff;
  padding-left: 5px;
  box-shadow: 1px 1px 15px #eee;
  outline-style: none;
}
